fastapi
uvicorn
websockets
requests
openai
python-dotenv
aioconsole
PyYAML
httpx
jinja2
tiktoken
pycryptodome
cryptography
loguru
numpy
opuslib_next
pydub
aiohttp

# jwt
# mcp<2.0.0
# portalocker
# bs4
# markitdown
# cnlunar
# psutil
# funasr
# torch
